
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>

        </style>
         <link rel = "stylesheet" href = "../static/css/mainstyle.css">

    </head>
    <body>

       <div  class="top">

            <ul>
                <li style="font-weight:bold;"><a href="{{url_for('main')}}">HOME</a></li>
                <li><a href="{{url_for('upload_form')}}">upload image</a></li>
                <li><a href="{{url_for('display_form')}}">show image</a></li>
                <li><a href="{{url_for('all_keys')}}">show all keys</a></li>
                <li><a href="{{url_for('config_form')}}">configure mem-cache</a></li>
                <li><a href="{{url_for('statistics')}}">mem-cache statistics</a></li>
                <li><a href="{{url_for('profile')}}">profile</a><li>
                <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>

        </div>




        <div class = 'base'>
        <h1>{{title}}</h1>
            <div>

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
