<!-- <link rel = "stylesheet" href = "../static/css/mainstyle.css">
<div class ='Profile'> -->
{% extends "base.html" %}
{% block content %}

    <!-- <h1>Profile</h1> -->
    <div class="card">
        <img src="img.jpg" alt="profile_img" style="width:100%">
        <p>{{nickname}}</p>
        <form action="{{url_for('get_wordcloud')}}"  enctype="multipart/form-data" method="post">

            Show word cloud:
    
            <input type="submit" value="Send">
        </form>
      </div>

{% endblock %}
