<link rel = "stylesheet" href = "../static/css/mainstyle.css">
<nav class="Nav_Menu">
    <a href="main.html">home</a>
    <a href="team.html">team</a>
</nav>
<div class = 'display_form'></div>
{% extends "base.html" %}
{% block content %}

    <!-- <h1>Select Image Key</h1> -->
    <form action="{{url_for('image_display')}}"  enctype="multipart/form-data" method="post">

        What is the image files to display? <input type="text" name="image_key"><br />

        <input type="submit" value="Send">
    </form></div>
{% endblock %}