<!DOCTYPE html>
<head>
    <title>Main Page</title>
</head>
<html>
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="{{url_for('upload')}}">upload image</a></li>
            <li><a href="{{url_for('show_image')}}">show image</a></li>
            <li><a href="{{url_for('all_keys')}}">show all keys</a></li>
            <li><a href="{{url_for('config_mem_cache')}}">configure mem-cache</a></li>
            <li><a href="{{url_for('statistics')}}">mem-cache statistics</a></li>
        </ul>
    <body>    
</html>