<!-- <link rel = "stylesheet" href = "../static/css/mainstyle.css">
<div class = 'statistics'> -->
{% extends "base.html" %}
{% block content %}

    <table> 
    <thead>
        <th>NodeNum</th>
        <th>ItemNum</th>
        <th>Occupation</th>
        <th>TotalRequests</th>
        <th>MissRate</th>
        <th>HitRate</th>
        <th>GetPicRequests</th>
        <th>Time</th>
    </thead> 

        {% for index in range (len_list) %}
            {% if aggregated_statistics[index]["Timestamps"] > start_time %}
                <tr>
                    <td>{{global_curr_node_list[index]}}</td>
                    <td>{{ aggregated_statistics[index]['single_ItemNum']['value']}}</td>
                    <td>{{ aggregated_statistics[index]['single_currentMemCache']['value']}}</td>
                    <td>{{ aggregated_statistics[index]['single_TotalRequestNum']['value']}}</td>
                    <td>{{ aggregated_statistics[index]['avg_MissRate']}}</td>
                    <td>{{ aggregated_statistics[index]['avg_HitRate']}}</td>
                    <td>{{ aggregated_statistics[index]['single_GetPicRequestNum']['value']}}</td>
                    <td>{{ aggregated_statistics[index]["Timestamps"]}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}