<!-- <link rel = "stylesheet" href = "../static/css/mainstyle.css">
<div class = 'statistics'> -->
{% extends "base.html" %}
{% block content %}

    <table> 
    <thead>
        <th>NodeNum</th>
        <th>ItemNum</th>
        <th>Occupation</th>
        <th>TotalRequests</th>
        <th>MissRate</th>
        <th>HitRate</th>
        <th>GetPicRequests</th>
        <th>Time</th>
    </thead> 
    {% for row in aggregated_statistics %}
        {% if row["time"] > start_time %}
            <tr>
                <td>{{node_num}}</td>
                <td>{{ row["statistic"]['single_ItemNum']}}</td>
                <td>{{ row["statistic"]['single_currentMemCache']}}</td>
                <td>{{ row["statistic"]['single_TotalRequestNum']}}</td>
                <td>{{ row["statistic"]['avg_MissRate']}}</td>
                <td>{{ row["statistic"]['avg_HitRate']}}</td>
                <td>{{ row["statistic"]['single_GetPicRequestNum']}}</td>
                <td>{{ row["time"]}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}