<!-- <link rel = "stylesheet" href = "../static/css/mainstyle.css">
<div class = 'statistics'> -->
{% extends "base.html" %}
{% block content %}

    <table> 
    <thead>
        <th>NodeNum</th>
        <th>ItemNum</th>
        <th>Occupation</th>
        <th>TotalRequests</th>
        <th>MissRate</th>
        <th>HitRate</th>
        <th>GetPicRequests</th>
        <th>Time</th>
    </thead> 

        {% for row in aggregated_statistics %}
            {% if row["Timestamps"] > start_time %}
                <tr>
                    <td>{{node_num}}</td>
                    <td>{{ row['single_ItemNum']['value']}}</td>
                    <td>{{ row['single_currentMemCache']['value']}}</td>
                    <td>{{ row['single_TotalRequestNum']['value']}}</td>
                    <td>{{ row['avg_MissRate']}}</td>
                    <td>{{ row['avg_HitRate']}}</td>
                    <td>{{ row['single_GetPicRequestNum']['value']}}</td>
                    <td>{{ row["Timestamps"]}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}